@charset "UTF-8";

body, html {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/* Accueil -/- skym */

.skym {
    padding-top: 150px;
    padding-left: 300px;
    padding-bottom: 200px;
    background: rgb(233,150,122);
    background: -moz-linear-gradient(90deg, rgba(233,150,122,1) 25%, rgba(255,233,122,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(233,150,122,1) 25%, rgba(255,233,122,1) 100%);
    background: linear-gradient(90deg, rgba(233,150,122,1) 25%, rgba(255,233,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9967a",endColorstr="#ffe97a",GradientType=1);
}

.skym h1 {
    color: #ffffff	;
    font-family: 'Tinos', bold;
    font-weight: bold;
    font-size: 160px;
    filter: opacity(0);
    animation: zoom;
    animation-delay: 1000ms;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
}

.skym h2 {
    color: #ffffff;
    font-family: 'Tinos', bold;
    font-weight: bold;
    filter: opacity(0);
    animation: zoom;
    animation-delay: 1100ms;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
}

.skym h4 {
    color: #ffffff;
    font-family: 'Tinos', bold;
    font-weight: bold;
    filter: opacity(0);
    animation: zoom;
    animation-delay: 1200ms;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
}

.skym iframe {
    margin-top: 40px;
    padding: 0px;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    animation: iframe;
    animation-delay: 2500ms;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
    filter: opacity(0);
}

/* A propos -/- about */

.about {
    padding-top: 150px;
    padding-left: 300px;
    padding-bottom: 200px;
}

.about h1 {
    color: #000000	;
    font-family: 'Tinos', bold;
    font-weight: bold;
    font-size: 160px;
}

.about h2 {
    color: #000000;
    font-family: 'Tinos', bold;
    font-weight: bold;
}

.about h4 {
    color: #000000;
    font-family: 'Tinos';
    transition: 500ms;
}

.about-classe {
    font-weight: bold;
}

.about-pays {
    font-weight: bold;
}

.about-pays:hover {
    background: linear-gradient(90deg, rgba(0,31,255,1) 0%, rgb(255, 206, 206) 50%, rgba(255,0,0,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about a {
    text-decoration: none;
    transition: 500ms;
    color: orange;
}

.about a:hover {
    border: none;
    border-radius: 23px;
    padding: 0px 30px;
    height: 36px;
    color: white;
    box-shadow: 2px 2px black;
    background-color: #f2ce58c2;
    transition: 500ms;
}

/* EnviCie -/- envicie */

.envicie {
    padding-top: 150px;
    padding-left: 300px;
    padding-bottom: 200px;
}

.envicie h1 {
    color: #000000	;
    font-family: 'Tinos', bold;
    font-weight: bold;
    font-size: 160px;
}

.envicie h2 {
    color: #000000;
    font-family: 'Tinos', bold;
    font-weight: bold;
}

.envicie h4 {
    color: #000000;
    font-family: 'Tinos';
    transition: 500ms;
}

.envicie-serveurs {
    font-weight: bold;
}

.envicie a {
    text-decoration: none;
    transition: 500ms;
    color: orange;
}

.envicie a:hover {
    border: none;
    border-radius: 23px;
    padding: 0px 30px;
    height: 36px;
    color: white;
    box-shadow: 2px 2px 
    black;
    background-color: #f2ce58c2;
    transition: 500ms;
}

/* Pack de texture -/- pack */

.pack {
    padding-top: 150px;
    padding-left: 300px;
    padding-bottom: 200px;
}

.pack h1 {
    color: #000000	;
    font-family: 'Tinos', bold;
    font-weight: bold;
    font-size: 160px;
}

.pack h2 {
    color: #000000;
    font-family: 'Tinos', bold;
    font-weight: bold;
}

.pack h4 {
    color: #000000;
    font-family: 'Tinos';
    transition: 500ms;
}

.pack a {
    text-decoration: none;
    transition: 500ms;
    color: orange;
}

.pack a:hover {
    border: none;
    border-radius: 23px;
    padding: 0px 30px;
    height: 36px;
    color: white;
    box-shadow: 2px 2px 
    black;
    background-color: #f2ce58c2;
    transition: 500ms;
}

/* Développement -/- dev */

.dev {
    padding-top: 150px;
    padding-left: 300px;
    padding-bottom: 200px;
}

.dev h1 {
    color: #000000	;
    font-family: 'Tinos', bold;
    font-weight: bold;
    font-size: 160px;
}

.dev h2 {
    color: #000000;
    font-family: 'Tinos', bold;
    font-weight: bold;
}

.dev h4 {
    color: #000000;
    font-family: 'Tinos';
    transition: 500ms;
}

.dev a {
    text-decoration: none;
    transition: 500ms;
    color: orange;
}

.dev a:hover {
    border: none;
    border-radius: 23px;
    padding: 0px 30px;
    height: 36px;
    color: white;
    box-shadow: 2px 2px 
    black;
    background-color: #f2ce58c2;
    transition: 500ms;
}

/* Footer -/- footer */

.footerChild {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    font-family: 'Tinos' sans-serif;
    background-color: rgb(228, 228, 228);
    padding-bottom: 10px;
}

.footer-text {
    font-family: 'Tinos' sans-serif;
    font-weight: bold;
}

.footerChild a {
    text-align: center;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.footerChild a:hover {
    text-align: center;
    color: rgb(107, 107, 107);
    transition: 0.5s;
}


/* SideBar */

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    padding-right: 5%;
    bottom: 15%;
    background-color: transparent;
}

/* Responsive */

@media (max-width: 640px) {

    /* Accueil -/- skym */

    .skym {
        padding-left: 20px;
        padding-right: 20px;
    }

    .skym h1 {
        font-size: 100px;
    }

    .skym iframe {
        width: 75%;
        height: 15%;
    }

    /* A propos -/- about */

    .about {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about h1 {
        font-size: 70px;
    }

    .about h2 {
        font-size: 35px;
    }

    /* EnviCie -/- envicie */

    .envicie {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .envicie h1 {
        font-size: 70px;
    }

    .envicie h2 {
        font-size: 35px;
    }

    /* Pack de texture -/- pack */

    .pack {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .pack h1 {
        font-size: 70px;
    }

    .pack h2 {
        font-size: 35px;
    }

    /* Développement -/- dev */

    .dev {
        padding-top: 0px;
        padding-bottom: 200px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .dev h1 {
        font-size: 50px;
    }

    .dev h2 {
        font-size: 30px;
    }

    .sidebar-nav {
        padding-top: 30px;
        padding-bottom: 30px;
        position: unset;
        align-items: center;
    }
}

/* Animations */

@keyframes zoom {
    0% {
        filter: opacity(0%);
        transform: scale(0%);
        transform: translate(0px, 0px);
    }

    50% {
        filter: opacity(100%);
        transform: scale(100%);
        transform: translate(0px, -50px);
    }

    100% {
        filter: opacity(100%);
        transform: translate(0px, -0px);
    }
}

@keyframes iframe {
    0% {
        filter: opacity(0%);
        transform: scale(0%);
        transform: translate(0px, 0px);
    }

    50% {
        filter: opacity(100%);
        transform: scale(100%);
        transform: translate(0px, 50px);
    }

    100% {
        filter: opacity(100%);
        transform: translate(0px, 50px);
    }
}